<!DOCTYPE html>
<html>
  <head>
    <title>Bottles Admin Panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="flex flex-row">
    <header id="admin-navigation" class="flex flex-col">
      <%= link_to t('components.page_wrappers.admin.welcome'), admin_path, class: 'admin-nav-link' %>
      <%= link_to t('components.page_wrappers.admin.bottles'), admin_bottles_path, class: 'admin-nav-link' %>
    </header>
    <div class="admin-content">
      <%= yield %>
    </div>
  </body>
</html>
